.prose {
    color: var(--vincent-fg);
    max-width: 80ch;
    min-width: 60ch;
    font-size: 1rem;
    line-height: 1.75;
}
.prose [class~="lead"] {
    color: #4b5563;
    font-size: 1.25em;
    line-height: 1.6;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
.prose a {
    color: var(--vincent-deeper);
    text-decoration: none;
    font-weight: 500;
}
